<!--game_review_comments_path-->
<%= form_with model: [game, review, comment] do |f| %>

  <div class="field">
    <%= f.text_area :content, rows: '5', placeholder: 'コメント記入欄', class: 'form-control' %>
  </div>

  <div class="mt-2 text-right">
    <%= f.submit '保存' %>
  </div>
<% end %>
