<%= form_with model: [game, review, comment], local: false do |f| %>

  <div class="field">
    <%= f.text_area :content, rows: '5', placeholder: 'Type your comment here', class: 'form-control' %>
  </div>

  <div class="mt-2 text-right">
    <%= f.submit 'Save' %>
  </div>
<% end %>
