<%= link_to transition_path(notification) do %>
	<div>
		<%= link_to notification.subject.user.nickname, user_path(notification.subject.user) %>
		があなたの
		<%= link_to '投稿', game_review_path(notification.subject.review.game, notification.subject.review) %>
		にコメントしました
		<%= " (#{time_ago_in_words(notification.created_at)} ago)" %>
	</div>
<% end %>