<div class='container'>
  <div class='row'>
    <div class='col-md-10 mt-3 mx-auto'>
      <div class="h4 text-center">
        Notifications
      </div>

      <% if @notifications.present? %>
        <%= link_to "All Delete",notification_path(@notifications), method: :delete, class: "mb-3 btn btn-light" %>
          <table class="table">
            <% @notifications.each do |notification| %>
              <tr>
                <td>
                  <div class="ml-3">
                    <%= render "#{notification.action}", notification: notification %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
      <% else %>
        <div class="text-center">
          Nothing
        </div>
      <% end %>
    </div>
  </div>
</div>