<% games.each do |game| %>
	<div>
		<%#= link_to 'image', game_reviews_path(game) %></br>
  	<%= link_to game.name, game_reviews_path(game) %>

  	<!--評価記載-->
  <!--	<div class="average-review-rating" data-score=<%#= game.reviews.average(:rating) %>></div>-->
		<!--<%#=@rating %>：<%#= game.reviews.average(:rating).to_f.round(1) %>-->
	</div>
<% end %>