<div class="container">
  <div class="row">

    <p class="font-weight-bold bg-secondary bg-secondary text-light mx-auto mt-5 p-1 h5">
			ゲーム情報編集
		</p>
	</div>

	<div class="row">
		<div class="col-6 mx-auto">
			<%= render 'layouts/errors', obj: @game %>
			<%= render 'form', game: @game %>
			<div class="mt-3 text-center">
				<% if admin_signed_in? %>
          <%= button_to 'ゲーム削除', game_path(@game), method: :delete,
              data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger my-2" %>
        <% end %>
				<%= link_to 'レビュー一覧に戻る', game_reviews_path(@game) %>
			</div>
		</div>
	</div>
</div>