<div>
	<p class="text-center  mb-5 h1">About</p>
	<p class="text-center h5">
		<%= link_to 'ゲーム好き', admin_session_path, class: "text-dark" %>が集まるサイトです。</br>
		プレイしたゲームのレビューをしたり、</br>
		ゲームを探すことができます。</br>
		レビューをしたユーザーの過去のゲーム歴や、</br>
		そのゲームのレビューなども見ることができます。
	</p>
</div>

<% if user_signed_in? %>
<% elsif admin_signed_in? %>
<% else %>
	<div class="text-center mt-5">
		<span class="mr-2">
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-secondary" %>
		</span>
		<span class="ml-2">
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-secondary" %>
		</span>
	</div>
<% end %>
