<p class="text-center mb-5 h1">
	Welcome</br>
	<%= link_to 'to', admin_session_path, class: "text-dark" %></br>
	GAME FINDER!!
</p>

<% if user_signed_in? %>
<% elsif admin_signed_in? %>
<% else %>
	<div class="text-center mt-5">
		<span class="mr-2">
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-secondary" %>
		</span>
		<span class="ml-2">
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-secondary" %>
		</span>
	</div>
<% end %>