<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<% if user_signed_in? %>
<% elsif admin_signed_in? %>
<% else %>
	<%= link_to "サインアップ", new_user_registration_path %> |
	<%= link_to "ログイン", new_user_session_path %> |
	<%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %> |
	<%= link_to '管理者ログイン', admin_session_path %>
<% end %>