<p class="text-center mt-5 mb-5 h1">Welcome!!</p>

<% if user_signed_in? %>
<% elsif admin_signed_in? %>
<% else %>
	<div class="text-center mt-5 mb-2">
		<%= link_to "サインアップ(お試しもできるよ)", new_user_registration_path, class: "btn btn-outline-secondary" %>
	</div>
	<div class="text-center mb-2">
		<%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary" %>
	</div>
	<div class="text-center">
		<%= link_to '管理者ログイン', admin_session_path, class: "btn btn-outline-secondary" %>
	</div>
<% end %>