@use '~bootstrap/scss/bootstrap';

 /* pagenation layouts */
$pagenation_color: #343a40;

.page-item.active .page-link {
  background-color: $pagenation_color;
  border-color: $pagenation_color;
}

.a page-link {
  color: $pagenation_color;
}

.page-item a:hover {
  color: $pagenation_color;
}

.page-item a {
  color: $pagenation_color;
}