<%= form_with model: review, url: game_reviews_path(game) do |f| %>
  <div class="field">
    <%= f.text_area :content, rows: '5', cols: '50', placeholder: 'Type your review here' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
