<%= form_with model: review, url: game_reviews_path(game) do |f| %>
  <div class="field">
    <%= f.text_area :content, rows: '5', placeholder: 'レビュー記入欄' %>
  </div>

  <!--評価の記述-->
  <!--<div id="stars">-->
  <!--  <label>Rate</label>-->
  <!--</div>-->

  <!--<script>-->
  <!--  let elem = document.querySelector('#stars');-->
  <!--  let opt = {-->
  <!--    starOn: "<%#= asset_path('star-on.png') %>",-->
  <!--    starOff: "<%#= asset_path('star-off.png') %>",-->
  <!--    starHalf: "<%#= asset_path('star-half.png') %>",-->
  <!--    scoreName: 'review[rating]',-->
  <!--  };-->
  <!--  window.raty(elem, opt);-->
  <!--</script>-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
