<%= form_with url: game_reviews_path, method: :POST do |f| %>
  <div class="field">
    <%= f.label :content, 'レビュー内容' %>
    <%= f.text_field :content %>
  </div>

  <!--評価の記述-->
  <!--<div id="stars">-->
  <!--  <label>Rate</label>-->
  <!--</div>-->

  <!--<script>-->
  <!--  let elem = document.querySelector('#stars');-->
  <!--  let opt = {-->
  <!--    starOn: "<%#= asset_path('star-on.png') %>",-->
  <!--    starOff: "<%#= asset_path('star-off.png') %>",-->
  <!--    starHalf: "<%#= asset_path('star-half.png') %>",-->
  <!--    scoreName: 'review[rating]',-->
  <!--  };-->
  <!--  window.raty(elem, opt);-->
  <!--</script>-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
