<%= render 'games/info', game: @game %>

<h1>レビュー作成</h1>

<%= render 'reviews/form', review: @review, game: @game %>

<%#<%= render "reviews/static_rate", review: @review %>

<%= link_to '戻る', game_reviews_path(@game) %>
