<div class="error-message text-center"></div>
<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			 <div class="report-title text-center mb-3">
					<h3>Report Form</h3>
				</div>
			<div class="d-flex justify-content-center">
				<div class="text-left">
					<%= render "report_form", report: @report %>
				</div>
			</div>
		</div>
	</div>
</div>
