<% if obj.errors.any? %>
    <!--%= obj.errors.count %> 件のエラーにより保存出来ません :-->
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>